
	{{burger_name}}

	<button class="change-devoured btn btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat it!{{else}}ReCook!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">Delete</button>

